{% set remotes = [] %}
{% for slave_data in TSIG_SLAVES.split(' ') %}
{% set ip_addr = slave_data.split(':')[1] %}
{% if "/" not in ip_addr %}
    {% set remotes = remotes + [ip_addr] %}
{% endif %}
{% endfor %}

{% if DNSTAP_SOCKET %}
mod-dnstap:
  - id: capture_all
    sink: unix:{{ DNSTAP_SOCKET }}
{% endif %}
policy:
  - id: rsa
    algorithm: RSASHA256
    ksk-size: 2048
    zsk-size: 1024
server:
    listen: 0.0.0.0@53
    listen: ::@53
    user: knot:knot
    rate-limit: 15
    rate-limit-slip: 1
log:
  - target: stdout
    any: info
template:
  - id: default
{% if DNSTAP_SOCKET %}
    global-module: mod-dnstap/capture_all
{% endif %}
    storage: "/var/lib/knot"
    serial-policy: {{ SERIAL_POLICY | default("increment")}}
    kasp-db: "kasp"
    disable-any: on
key:
{% for key_data in TSIG_KEYS.split(' ') %}
{% set id, alg, secret =  key_data.split(':') %}
  - id: key_{{ id }}
    algorithm: {{ alg }}
    secret: {{ secret }}
{% endfor %}
remote:
{% for slave_data in TSIG_SLAVES.split(' ') %}
{% set id, remote, key_id = slave_data.split(':')  %}
{% if "/" not in remote %}
  - id: slave_{{ id }}
    address: {{ remote }}@53
{% endif %}
{% endfor %}
acl:
{% for updatekey_data in TSIG_UPDATES.split(' ') %}
{% set id, remote, key_id = updatekey_data.split(':') %}
  - id: acl_{{ id }}
    address: {{ remote }}
    key: key_{{ key_id }}
    action: update
{% endfor -%}
{% for slave_data in TSIG_SLAVES.split(' ') %}
{% set id, remote, key_id = slave_data.split(':') %}
  - id: acl_{{ id }}
    address: {{ remote }}
    key: key_{{ key_id }}
    action: transfer
{% endfor %}
zone:
{% for zone in ZONES_DNSSEC.split(' ') %}
  - domain: {{ zone }}
    dnssec-signing: on
    dnssec-policy: rsa
    file: /var/lib/knot/zones/{{ zone }}
    acl: [ {% for slave_data in TSIG_SLAVES.split(' ') + TSIG_UPDATES.split(' ')  %}acl_{{ slave_data.split(':')[0] }}{% if not loop.last %},{% endif %}{% endfor %} ]
{% if remotes | length  %}
    notify: [ {{ remotes | join(',') }}]
{% endif %}
{% endfor %}
